html {
	font-size: 10px;
}

body {
	font-size: 1.4rem;
	margin: 0;
}

/* 1배율 디스플레이 모니터 배경 이미지 */
.retina-images {
	width: 22rem;
	height: 22rem;
	background: url(../images/profile.png) no-repeat;
}

/* 고해상도 이미지 대응 배경 이미지 */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) {

	.retina-images {
		/* Retina 대응 배경 적용 시 */
		background: url(../images/profile@2x.png) no-repeat;
	}

}