/* 문서 언어 인코딩 설정 */
@charset "utf-8";

/**
* ----------------------------------------------------------------
*  Moblie Frist : 979px 이하 브라우저 스타일 적용
* ------------------------------------------------------------- */

html {
	overflow-y: scroll;
}

 /* clearfix module */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

/*  row module */
.row {
	/* 너비가 최소 320px 이상에서 브라우저 너비에 따라 조절 */
	min-width: 320px;
}

/* header area */
.header {
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 4px solid #3fa9f5;
	background: #fff;
}
.header .row {
	position: relative;
}

/* logo */
.logo {
	float: left;
}
.logo a {
	display: block;
	padding: 10px;
	line-height: 56px;
}
.logo img {
	/* px 단위설정 가능 */
	vertical-align: -15px;
}

/* menu mobile button */
.btn-toggle {
	display: block;
	float: right;
	width: 40px;
	height: 40px;
	border: 0;
	background: #4c8fec url("http://treehouse-blog.s3.amazonaws.com/Respond-Menu/img/menu-icon.png");
	color: transparent;
	text-align: center;
}
.menu:hover .btn-toggle {
	background-color: #444;
	border-radius: 4px 4px 0 0;
}

/* menu area */
.menu {
	float: right;
	position: absolute;
	top: 18px;
	right: 30px;
}
.menu ul {
	display: none;
	clear: right;
	width: 250px;
	border: 5px solid #444;
	background: #fff;
}
.menu:hover ul, .menu .btn-toggle:hover + ul {
	display: block;
}
.menu li {
	display: block;
	vertical-align: middle;
}
.menu li a {
	display: block;
	width: 100%;
	line-height: 40px;
	color: #4c9cf1;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 0 20px;
	border-radius: 0;
	box-sizing: border-box;
}
.menu li a:hover, .menu li a:focus {
	color: #fff;
	background: #4c9cf1;
}
.menu li a.active, .menu li a:active {
	color: #fff;
	background: #444;
}

/* container area */
.container {
	margin-top: 110px;
	padding: 0 30px;
	box-sizing: border-box;
}
.container h2 {
	font-size: 33px;
	color: #2262AD;
	margin: 20px 0;
}
.container p {
	color: #555;
	line-height: 1.5;
	margin-bottom: 20px;
}

/* main image */
.featured {
	width: 100%;
	height: auto;
}

/**
* ----------------------------------------------------------------
*  Tablet, Desktap : 979px 이상 브라우저 스타일 적용
* ------------------------------------------------------------- */
@media screen and (min-width: 979px) {
	.row {
		/* 너비가 최대 980px 이내에서 브라우저 너비에 따라 조절 */
		max-width: 980px;
		margin: 0 auto;
	}
	.btn-toggle {
		display: none;
	}
	.menu li {
		float: left;
		display:  inline-block;
	}
	.container {
		margin-top: 110px;
		padding: 0;
	}
	.menu {
		position: relative;
		top: 16px;
		right: 0;
	}
	.menu ul {
		display: block;
		width: auto;
		border: 0;
	}
	.menu li a {
		position: relative;
		background: #fff;
		border-radius: 20px;
		z-index: 0;
	}
	.menu li a:hover, .menu li a:focus {
		color: #2262ad;
		background: #e0eefd;
	}
	.menu li a.active, .menu li a:active {
		color: #2262ad;
		background: #fff;
	}
}

