body {
	margin: 0;
}

/* modal 이미지 */
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	transform: translate(-50%,-50%);
	box-shadow: 0 0 0 10px hsla(0,0%,0%,.25);
}

/* 딤처리 */
.dim {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: hsla(0, 0%, 0%, 0.6);
}

.lorem {
	padding: 0 1em;
	margin-top: 1em;
}