body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, button, p, blockquote, th, td, form, fieldset, blockquote, iframe {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	box-sizing: border-box;
}

/* HTML 기본 폰트 크기 : 16px */
html {
	/* rem 단위 계산의 편의를 위해 10px 설정 */
	/* 10px = 1rem */
	/* root font size px ÷ font size px */
	font-size: 10px;
	font-family: 'Nanum Gothic', sans-serif;
}

html body {
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 21px;
	line-height: 2.1rem;
	color: #5c5c5c;
}

/* 행간의 간격 : 14px(body font size) × 1.5 */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 21px;
	margin-bottom: 2.1rem;
	font-weight: normal;
}
p {
	margin-bottom: 21px;
	margin-bottom: 2.1rem;
}

p strong {
	color: #8226b5;
}

/* 제목의 비율 : 1.2 */
h1 {
	font-size: 53.40576px;
	font-size: 5.34058rem;
	line-height: 63px;
	line-height: 6.3rem;
}

h2 {
	font-size: 42.72461px;
	font-size: 4.27246rem;
	line-height: 63px;
	line-height: 6.3rem;
}

h3 {
	font-size: 34.17969px;
	font-size: 3.41797rem;
	line-height: 42px;
	line-height: 4.2rem;
}

h4 {
	font-size: 27.34375px;
	font-size: 2.73438rem;
	line-height: 42px;
	line-height: 4.2rem;
}

h5 {
	font-size: 21.875px;
	font-size: 2.1875rem;
	line-height: 42px;
	line-height: 4.2rem;
}

h6 {
	font-size: 17.5px;
	font-size: 1.75rem;
	line-height: 21px;
	line-height: 2.1rem;
}