/* DEMO Style */
.box {
	text-align: center;
	background: #f4c6ab;
	color: #666;
	border: 1px solid #fff;
}

.box:nth-of-type(even) {
	background: #c1e8b9;
}

.top-setting {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	line-height: 50px;
	background: #f4c6ab;
}

footer .box {
	height: 50px;
	line-height: 50px;
}

.carousel .box {
	padding-top: 50px;
	height: 400px;
	line-height: 350px;
	background: #c1e8b9;
}

.img-box .box,
.info-box .box {
	line-height: 200px;
}

.text-box .box,
.item-box {
	line-height: 150px;
}

/* menu mobile button */
.btn-toggle {
	width: 100%;
	border: 0;
	padding: 0;
}
.menu:hover .btn-toggle {
	background: #444;
	color: #fff;
	padding: 0;
}

/* menu area */
.menu li a.active, .menu li a:active {
	color: #fff;
	background: #444;
}
.menu li a:hover, .menu li a:focus {
	color: #fff;
	background: #4c9cf1;
}
.menu li a {
	display: block;
	color: #666;
	text-align: center;
	text-decoration: none;
	padding: 0 20px;
}
.menu ul.t-hidden,
.menu ul.m-hidden {
	border: 5px solid #444;
	background: #fff;
	width: 100%;
}
.menu ul.t-hidden li,
.menu ul.m-hidden li {
	display: block;
	width: 100%;
	vertical-align: middle;
}
.menu:hover ul.t-hidden,
.menu:hover ul.m-hidden,
.menu .btn-toggle:hover + ul.t-hidden
.menu .btn-toggle:hover + ul.m-hidden {
	display: block;
}
@media screen and (min-width:1024px) {
	.menu ul.t-hidden,
	.menu ul.m-hidden {
		float: right;
		width: auto;
		border: 0;
	}
	.menu ul.t-hidden li,
	.menu ul.m-hidden li {
		float: left;
		display: inline-block;
		width: auto;
	}
}