.box h1 {
	font-size: 3rem;
	color: #fff;
	line-height: 1.5;
	text-align: center;
	background: #333;
	padding: 1.6rem;
	margin: 0;
}

.box p {
	font-size: 1.6rem;
	color: #666;
	line-height: 1.5;
	padding: 1.6rem;
}

@media screen and (min-width: 768px) and (max-width: 1215px) {
	.box h1 {
		height: 100vh;
	}
	.box p {
		height: 100vh;
	}
}